.img{
    width: 100%;
    height: 100%;
}

.slider{
    height: 100vh !important;
}

.show-index{
    display: none !important;
}

.btn-arrow-right{
    right: 0 !important;
}

.btn-arrow-left{
    left: 0 !important;
}